@keyframes ldio-rj1jq9lp3go {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.loadingio-spinner-double-ring-gec9m8mhxbr {
    position: relative;
    margin: 0 auto;
}
.ldio-rj1jq9lp3go div { box-sizing: border-box!important }
.ldio-rj1jq9lp3go > div {
    position: absolute;
    width: 84px;
    height: 84px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #9599c5 transparent #9599c5 transparent;
    animation: ldio-rj1jq9lp3go 2.380952380952381s linear infinite;
}

.ldio-rj1jq9lp3go > div:nth-child(2), .ldio-rj1jq9lp3go > div:nth-child(4) {
    width: 74px;
    height: 74px;
    top: 13px;
    left: 13px;
    animation: ldio-rj1jq9lp3go 2.380952380952381s linear infinite reverse;
}
.ldio-rj1jq9lp3go > div:nth-child(2) {
    border-color: transparent #ec6363 transparent #ec6363
}
.ldio-rj1jq9lp3go > div:nth-child(3) { border-color: transparent }
.ldio-rj1jq9lp3go > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rj1jq9lp3go > div:nth-child(3) div:before, .ldio-rj1jq9lp3go > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 36px;
    background: #9599c5;
    border-radius: 50%;
    box-shadow: 0 80px 0 0 #9599c5;
}
.ldio-rj1jq9lp3go > div:nth-child(3) div:after {
    left: -4px;
    top: 36px;
    box-shadow: 80px 0 0 0 #9599c5;
}

.ldio-rj1jq9lp3go > div:nth-child(4) { border-color: transparent; }
.ldio-rj1jq9lp3go > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rj1jq9lp3go > div:nth-child(4) div:before, .ldio-rj1jq9lp3go > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 31px;
    background: #ec6363;
    border-radius: 50%;
    box-shadow: 0 70px 0 0 #ec6363;
}
.ldio-rj1jq9lp3go > div:nth-child(4) div:after {
    left: -4px;
    top: 31px;
    box-shadow: 70px 0 0 0 #ec6363;
}
.loadingio-spinner-double-ring-gec9m8mhxbr {
    width: 78px;
    height: 78px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-rj1jq9lp3go {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.78);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-rj1jq9lp3go div { box-sizing: content-box; }